alembic
attrs
beautifulsoup4
blinker
certifi
cffi
charset-normalizer
click
colorama
cssselect
deepl
dnspython
email-validator
exceptiongroup
Flask
Flask-Login
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
greenlet
gunicorn
h11
idna
itsdangerous
Jinja2
joblib
lxml
Mako
MarkupSafe
mecab-python3
nltk
numpy
outcome
packaging
Pillow
pip
pycparser
pyquery
PySocks
pysummarization
python-dotenv
pytz
regex
requests
selenium
setuptools
sniffio
sortedcontainers
soupsieve
SQLAlchemy
tqdm
trio
trio-websocket
typing_extensions
unidic-lite
uvicorn
urllib3
Werkzeug
wheel
wsproto
WTForms