{% extends 'base.html' %}

{% block content %}

<div class="d-flex justify-content-center align-items-end" style="height: 50vh">
    <div class="container text-center">
        <p>要約したいほうをクリック</p>
        <div class="d-flex justify-content-between">
            <button type="button" class="btn btn-outline-secondary btn-lg"
                onclick="location.href='https://summary-web.onrender.com/ja_summary'">
                JA
            </button>
            <button type="button" class="btn btn-outline-secondary btn-lg"
                onclick="location.href='https://summary-web.onrender.com/en_to_ja_summary'">
                EN→JA
            </button>
            <button type="button" class="btn btn-outline-secondary btn-lg"
                onclick="location.href='https://summary-web.onrender.com/ja_to_en_summary'">
                JA→EN
            </button>
            <button type="button" class="btn btn-outline-secondary btn-lg"
                onclick="location.href='https://summary-web.onrender.com/yahoonews'">
                YAHOO!NEWS
            </button>
        </div>
    </div>
</div>

{% endblock %}