{% extends 'base.html' %}

{% block content %}

<div class="d-flex justify-content-center align-items-end" style="height: 50vh">
    <div class="container text-center">
        <p>要約したいほうをクリック</p>
        <div class="d-flex justify-content-between">
            <button type="button" class="btn btn-outline-secondary btn-lg"
                onclick="location.href='https://summary-web.onrender.com/ja_summary'">
                JA
            </button>
            <button type="button" class="btn btn-outline-secondary btn-lg"
                onclick="location.href='https://summary-web.onrender.com/en_summary'">
                EN
            </button>
            <button type="button" class="btn btn-outline-secondary btn-lg"
                onclick="location.href='https://summary-web.onrender.com/en_to_ja_summary'">
                EN→JA
            </button>
            <button type="button" class="btn btn-outline-secondary btn-lg"
                onclick="location.href='https://summary-web.onrender.com/ja_to_en_summary'">
                JA→EN
            </button>
            <button type="button" class="btn btn-outline-secondary btn-lg"
                onclick="location.href='https://summary-web.onrender.com/yahoonews'">
                YAHOO!NEWS
            </button>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card-body">
                {% for news in home_News %}
                <div class="card border-secondary mb-3">
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <p>
                                    News-URL <br />
                                    <a href="{{ news['url'] }}">{{ news['url'] }}</a>
                                </p>
                                <p><img src="{{news['image_url']}}" alt="代替テキスト" style="max-width: 100%; height: auto;"></p>
                                <p>
                                    News-Title&nbsp;:&emsp;{{ news['title'] | safe}}
                                </p>
                                <p>
                                    News-Summary <br />
                                    {{ news['content']}}
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}