{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row mt-3">
        <div class="col-sm-12 col-lg-10 offset-lg-1">
            <h2>バージョンアップデート履歴</h2>
            <ul>
                <li>Version 1.0.1 - UptimeRobotを導入してスリープしないようにしました (2024-08-14)</li>
                <li>Version 1.0.1 - アップデート欄を作りました (2024-08-14)</li>
                <li>Version 1.0.0 - 初期リリース (2023-11-6)</li>
                <!-- ここに今後のアップデート内容を追加 -->
            </ul>
        </div>
    </div>
</div>

{% endblock %}
