{% extends 'base.html' %}

{% block content %}

<form action="/yahoonews" method="post">
    <label for="countInput">COUNT:</label>
    <input type="number" id="countInput" name="count" min="1" max="8" step="1" required>
    <label for="limitInput">LIMIT:</label>
    <input type="number" id="limitInput" name="limit" min="0" max="1" step="0.1" required>
    <button type="submit">SUMMARY</button>
</form>


<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card-body">
                {% for news_summary in yahoo_summary_data %}
                <div class="card border-secondary mb-3">
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <p>News-number&nbsp;:&emsp;{{ news_summary['article_num'] }}</p>
                                <p>
                                    News-URL <br />
                                    <a href="{{ news_summary['article_URL'] }}">{{ news_summary['article_URL'] }}</a>
                                </p>
                                <p>News-Date&nbsp;:&emsp;{{ news_summary['article_date'] }}</p>
                                <p>
                                    News-Title&nbsp;:&emsp;{{ news_summary['article_title'] }}
                                </p>
                                <p>
                                    News-Summary <br />
                                    {{ news_summary['article_summary']}}
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}